img{
	width:300px;
	border:2px solid blue;
}
body{
	background-color:aqua;
}
.red{
	color:red;
}
.big_font{
	font-size:32px;
}
#spcialStyle{
	border:2px solid red;
	background-color:yellow;
}